
<div fxLayout="row wrap" class="homeBg">
  <app-nav-bar fxFlex="100%"></app-nav-bar>
  <div class="homeCap" fxFlex="60%" fxFlex.sm="90%" fxFlex.xs="90%" fxFlex.md="90%" fxLayoutAlign=" center">
    <div fxFlex="85%" fxFlex.xs="75%">
      <p class="homeCapFont mat-display-1">Once you learn to care, you can record images with your mind or on film.<br>
        <span class="mat-display-3 homeCapFont fw-bold">There is no difference between the two.</span>
      </p>
    </div>
    <div fxFlex="15%">
      <img id="capImg" src="../../../assets/img/camera (2).png" alt="">
    </div>
  </div>
  <div fxHide.sm fxHide.xs fxFlex></div>
</div>

<div class="HomeSection2" fxLayout="row wrap" >
  <div fxFlex="80%" fxFlex.sm="50%" fxFlex.xs="50%" >
    <h1 id="homeCap2">Feel like you have a picture that could take the internet by a storm?
      Share it on Znipix, where every day thousands of photographic addicts post
      their most hilarious, cutest or silliest photographs, hopping to win the
      votes of the assembly.</h1>
  </div>
  <div fxFlex="20%" fxFlex.sm="50%" fxFlex.xs="50%" class="camClass" fxLayoutAlign="center center" >
    <img id="cam" src="../../../assets/img/stay-focused-polaroid-camera-poster-4-naxart-studio.jpg" alt="">
  </div>
</div>

