<div class="sign-up">
  <div class="login-box rounded">
       <div class="head-cap mat-display-1 text-white mb-2 ml-2">Create an account!</div>
       <div>
        <span *ngIf="userExistError" class="errorMsg text-warning">{{userExistError}}</span>
       </div>
       <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="inline">
          <div class="input-icons">
              <i  class="fa fa-user icon mt-4 text-white"></i>
              <input  class="input-field mt-4 text-white" type="text" placeholder="user name" formControlName="userName"><br>
              <div>
                <small class="text-warning" *ngIf="!reactiveForm?.get('userName')?.valid&&reactiveForm?.get('userName')?.touched">Please fill the field</small>
              </div>
              <i class="fa fa-envelope icon mt-4 text-white"></i>
              <input class="input-field mt-4 text-white" type="email" placeholder="email" formControlName="email"><br>
              <div>
                <small class="text-warning" *ngIf="!reactiveForm?.get('email')?.valid&&reactiveForm?.get('email')?.touched">Enter a valid email</small>
              </div>
              <i class="fa fa-phone icon mt-4 text-white"></i>
              <input class="input-field mt-4 text-white" type="tel" placeholder="phone number" formControlName="phone"><br>
              <div>
                <small class="text-warning"  *ngIf="!reactiveForm?.get('phone')?.valid&&reactiveForm?.get('phone')?.touched">Enter a valid number</small>
              </div>
              <i class="fa fa-lock icon mt-4 text-white"></i>
              <input class="input-field mt-4 text-white" type="password" placeholder="password" formControlName="password">
              <div>
                <small class="text-warning"  *ngIf="reactiveForm?.get('password')?.errors?.['spaceAllowed']">Space is not allowed</small>
              </div>
              <div>
                <small class="text-warning"  *ngIf="!reactiveForm?.get('password')?.valid&&reactiveForm?.get('password')?.touched">Password must be more than four characters</small>
              </div>
              <button type="submit" id="register" class="text-white" mat-raised-button  [disabled]="!reactiveForm?.valid">REGISTER</button>
          </div>
    </form>
  </div>
</div>

